<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Password forgot</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.js"
            integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script type="text/javascript" src="../media/js/ui.js"></script>
</head>

<body>
  <div class="container">
    <header>
      <a class="logo" href="/">
        <img src="../media/images/hprox-logo.svg" alt="hprox logo">
      </a>
      <div class="signup-container">
        <p>Don't have account?</p>
        <a class="open-url button button--secondary" data-url="https://hprox.com/register" id="create-account">Sign Up</a>
      </div>
      
    </header>
    <main class="content content--extra-margin">
      <div class="form-container">
        <h1>Forgot password?</h1>
        
        <form id="pass-forgot" action="">
          <div class="form-input">
            <input
              id="email"
              type="email"
              required
            >
            <label for="email">Your email address</label>
          </div>
          
          <div class="take-action">
            <a class="lost-pass" href="login.html">Back to sign in</a>
            <button
                    id="reset-password"
              class="button button--primary"
              type="submit"
              form="pass-forgot"
            >
              Request reset link
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>
<script type="text/javascript" src="../media/js/app.bundle.js"></script></body>

</html>